<!DOCTYPE html>
<html>
    <head>
        <title>Shuffle</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    </head>

    <body>
        <div class="page-wrapper"> </div>
        <div class="container">
            <div class="row">
                <div class="wrapper active">
                    <%= render 'shared/navbar' %>
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>
</html>
